[Unit]
Description=CCTV NVR Frontend Dashboard
After=network.target cctv-backend.service

[Service]
Type=simple
User=aryam
WorkingDirectory=/home/aryam/Streamify/frontend
ExecStart=/usr/bin/node node_modules/next/dist/bin/next start
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
