[Unit]
Description=CCTV NVR System API Backend
After=network.target

[Service]
Type=simple
User=aryam
WorkingDirectory=/home/aryam/Streamify/backend
Environment=NODE_ENV=production
ExecStart=/usr/bin/node dist/index.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
